# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
profile
*.moved-aside
DerivedData/
.idea/
*.hmap
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods
Pods/
*.xcworkspace
!default.xcworkspace

# Carthage
Carthage/Build/
Carthage/Checkouts/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
injectionforxcode/

# App Store Connect
*.ipa
*.app.dSYM.zip
*.dSYM.zip

# SwiftUI Previews
*.preview-thumbnails

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# macOS
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Build artifacts
*.o
*.linkfilelist
*.hmap
*.ipa
*.dSYM
*.bcsymbolmap
*.xcarchive

# Simulator
*.simruntime
